# Intellij
*.iml
.idea

# npm
node_modules
package-lock.json

# build
main.js
*.js.map

data.json

dist
out/**
wakatime-cli
.vscode-test/**
*.vsix
npm-debug.log*
.DS_Store
wakatime-master
tags
*.zip